body{
  font-family: Arial, Helvetica, sans-serif;
}

.apple-exo{
  text-align: center;
}

.new-line{
  color: orange;
  font-size: 13px;
  margin-bottom: 3px;
}

.macBook-line{
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 3px;
}

.super-line{
  font-weight: bold;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.from-line{
  font-size: 15px;
  margin-top: 4px;
  margin-bottom: 3px;
}

.centered-button{
text-align: center;
}

.buy-button{
  background-color: blue;
  color: white;
  border: none;
  padding: 3px 5px 3px 5px;
  border-radius: 50px;
}

.camp-link{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0px;
}

.camp-hastag{
  font-weight: normal;
  color: rgb(179, 175, 175);
  font-size: 14px;
}

.camp-first-line, .camp-second-line{
  width: 480px;
  font-size: 14px;
}

.chp-it{
  color: blue;
}

.first-amount{
  font-weight: bold;
  margin-bottom: 3px;
}

.usd{
  font-weight: normal;
  font-size: 10px;
}

.today-rate{
  color: rgb(78, 94, 78);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 3px;
}

.end-rate{
  font-size: 14px;
  margin-top: 0px;
}

.end-rate-color{
  color: red;
}